USE [banXeVinfast]
GO
/****** Object:  Table [dbo].[tbl_carimages]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_carimages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Car_ID] [nvarchar](10) NULL,
	[ImagePath] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__CarImage__7516F4EC68CE2F79] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_cars]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cars](
	[Car_ID] [nvarchar](10) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Version] [nvarchar](20) NULL,
	[Price] [decimal](15, 2) NULL,
	[Color] [nvarchar](50) NULL,
	[Engine] [decimal](10, 2) NULL,
	[Cap_KW] [decimal](10, 2) NULL,
	[Torque_NM] [decimal](10, 2) NULL,
	[Accel] [decimal](5, 2) NULL,
	[Range_KM] [decimal](10, 2) NULL,
	[FastCharge] [decimal](5, 2) NULL,
	[Drivertrain] [nvarchar](50) NULL,
	[ImageFolder] [nvarchar](255) NULL,
 CONSTRAINT [PK_cars] PRIMARY KEY CLUSTERED 
(
	[Car_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contacts]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contacts](
	[Contact_id] [nvarchar](10) NOT NULL,
	[Customer_name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__Contacts__024E7A861CD9BA3C] PRIMARY KEY CLUSTERED 
(
	[Contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_orders]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orders](
	[Order_ID] [nvarchar](10) NOT NULL,
	[Customer_ID] [nvarchar](10) NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](12, 2) NULL,
	[Status] [varchar](20) NULL,
	[ShippingAddress] [nvarchar](100) NULL,
	[PaymentMethod] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_orde__C3905BAFA73F71E3] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_payments]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_payments](
	[Payment_ID] [nvarchar](10) NOT NULL,
	[Order_ID] [nvarchar](10) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](12, 2) NULL,
	[PaymentMethod] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK__tbl_paym__9B556A58660F1F3C] PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_repass]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_repass](
	[UserName] [varchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Code] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_role]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role](
	[UserName] [varchar](50) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_tbl_role] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_saler]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_saler](
	[User_ID] [nvarchar](10) NOT NULL,
	[Saler_ID] [nvarchar](10) NOT NULL,
	[Full_name] [nvarchar](50) NOT NULL,
	[Phone_number] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Position] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__saler__3214EC27C40256D0] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_statistics]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_statistics](
	[Statistic_ID] [nvarchar](10) NOT NULL,
	[StatisticType] [varchar](50) NOT NULL,
	[Value] [decimal](15, 2) NOT NULL,
	[StatisticDate] [date] NOT NULL,
 CONSTRAINT [PK__tbl_stat__367DEB37EDDBDF94] PRIMARY KEY CLUSTERED 
(
	[Statistic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 3/16/2025 2:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[Full_name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_carimages] ON 

INSERT [dbo].[tbl_carimages] ([ImageID], [Car_ID], [ImagePath]) VALUES (16, N'1', N'/upload/1741709004398-20824888.png')
INSERT [dbo].[tbl_carimages] ([ImageID], [Car_ID], [ImagePath]) VALUES (17, N'123124', N'/upload/1741709987790-610659771.png')
INSERT [dbo].[tbl_carimages] ([ImageID], [Car_ID], [ImagePath]) VALUES (18, N'12312', N'/upload/1741710029432-92299230.png')
SET IDENTITY_INSERT [dbo].[tbl_carimages] OFF
GO
INSERT [dbo].[tbl_cars] ([Car_ID], [Model], [Version], [Price], [Color], [Engine], [Cap_KW], [Torque_NM], [Accel], [Range_KM], [FastCharge], [Drivertrain], [ImageFolder]) VALUES (N'1', N'VF9', N'1', CAST(0.00 AS Decimal(15, 2)), N'', CAST(1.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'', N'["/upload/1741709004398-20824888.png"]')
INSERT [dbo].[tbl_cars] ([Car_ID], [Model], [Version], [Price], [Color], [Engine], [Cap_KW], [Torque_NM], [Accel], [Range_KM], [FastCharge], [Drivertrain], [ImageFolder]) VALUES (N'12312', N'11', N'1', CAST(0.00 AS Decimal(15, 2)), N'', CAST(3.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'', N'["/upload/1741710029432-92299230.png"]')
INSERT [dbo].[tbl_cars] ([Car_ID], [Model], [Version], [Price], [Color], [Engine], [Cap_KW], [Torque_NM], [Accel], [Range_KM], [FastCharge], [Drivertrain], [ImageFolder]) VALUES (N'123124', N'1', N'1', CAST(0.00 AS Decimal(15, 2)), N'', CAST(2.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'', N'["/upload/1741709987790-610659771.png"]')
GO
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'466495    ')
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'255408    ')
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'210120    ')
GO
INSERT [dbo].[tbl_role] ([UserName], [Role]) VALUES (N'123', 2)
INSERT [dbo].[tbl_role] ([UserName], [Role]) VALUES (N'admin', 0)
INSERT [dbo].[tbl_role] ([UserName], [Role]) VALUES (N'lam', 1)
GO
INSERT [dbo].[tbl_users] ([UserName], [PassWord], [Full_name], [Email], [Phone], [Address]) VALUES (N'123', N'1', N'', N'vxlcontact143@gmail.com', N'', N'')
INSERT [dbo].[tbl_users] ([UserName], [PassWord], [Full_name], [Email], [Phone], [Address]) VALUES (N'admin', N'1', N'Nhóm 2', N'nhom2@gmail.com', N'099382882', N'Hà Nội')
INSERT [dbo].[tbl_users] ([UserName], [PassWord], [Full_name], [Email], [Phone], [Address]) VALUES (N'lam', N'1', N'1', N'1', N'1', N'1')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__saler__A9D10534152C1618]    Script Date: 3/16/2025 2:29:40 AM ******/
ALTER TABLE [dbo].[tbl_saler] ADD  CONSTRAINT [UQ__saler__A9D10534152C1618] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
