USE [banXeVinfast]
GO
/****** Object:  Table [dbo].[tbl_repass]    Script Date: 3/12/2025 10:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_repass](
	[UserName] [varchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Code] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'466495    ')
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'255408    ')
INSERT [dbo].[tbl_repass] ([UserName], [Email], [Code]) VALUES (N'abc', N'vxlcontact143@gmail.com', N'210120    ')
GO
