<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ - Website Bán Ô Tô</title>
    <link rel="stylesheet" href="/src/public/css/css_test.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

</head>
  <body>
    <div class="home-page-vf9">
        <header class="header-navi" style="translate: none; rotate: none; scale: none; transform: translate(0px, -200px);">
            <div class="sub-head-pc pc">
                <div class="container">
                    <div class="body">
                        <div class="logo tag-line">
                            <a href="/">
                                <img src="/on/demandware.static/Sites-app_vinfast_vn-Site/-/default/dwc9ac06ce/images/vfast/logo.svg" alt="VinFast - Mãnh liệt tinh thần Việt">
                            </a>
                        </div>
                        <div class="main-navi scroll-spy" id="scroll-spy">
                            <ul class="nav text-uppercase">
                                <li>
                                    <a class="nav-link" title="Phiên bản" href="#section-version">Phiên bản</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Ngoại thất" href="#section-product-exterior">Ngoại
                                        thất</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Nội thất" href="#section-product-interior">Nội
                                        thất</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Công nghệ" href="#section-technology">Công nghệ</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Đặc quyền" href="#section-exclusive-rights">Đặc
                                        quyền</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Pin sạc" href="#section-charging-solution">Pin
                                        sạc</a>
                                </li>
                                <li class="d-none">
                                    <a class="nav-link" title="Pin sạc" href="#section-lead-common"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-navi">
                            <a href="#section-lead-common" class="btn btn-primary"><span>ĐĂNG KÝ TRẢI NGHIỆM</span></a>
                            <input type="hidden" name="setSchemeUrl" value="/on/demandware.store/Sites-app_vinfast_vn-Site/vi_VN/Reserve-SetSchema">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header sub-head-sp sp">
                <div class="nav">
                    <div class="row-1 container">
                        <div class="left-nav">
                            <button class="btn btn-hamburger sp" type="button">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.33333 24H26.6667C27.4 24 28 23.4 28 22.6667C28 21.9333 27.4 21.3333 26.6667 21.3333H5.33333C4.6 21.3333 4 21.9333 4 22.6667C4 23.4 4.6 24 5.33333 24ZM5.33333 17.3333H26.6667C27.4 17.3333 28 16.7333 28 16C28 15.2667 27.4 14.6667 26.6667 14.6667H5.33333C4.6 14.6667 4 15.2667 4 16C4 16.7333 4.6 17.3333 5.33333 17.3333ZM4 9.33333C4 10.0667 4.6 10.6667 5.33333 10.6667H26.6667C27.4 10.6667 28 10.0667 28 9.33333C28 8.6 27.4 8 26.6667 8H5.33333C4.6 8 4 8.6 4 9.33333Z" fill="#3C3C3C"></path>
                                </svg>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.6668 22.6668L9.3335 9.3335M22.6668 9.3335L9.3335 22.6668" stroke="#1464F4" stroke-width="1.66667" stroke-linecap="round"></path>
                                </svg>
                            </button>
                            <a href="/" class="nav-logo">
                                <img src="/on/demandware.static/Sites-app_vinfast_vn-Site/-/default/dwc9ac06ce/images/vfast/logo.svg" alt="VinFast - Mãnh liệt tinh thần Việt">
                            </a>
                        </div>
                        <div class="right-nav">
                            <a href="#section-lead-common" class="btn btn-primary"><span>ĐĂNG KÝ TRẢI NGHIỆM</span></a>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="nav-menu container scroll-spy">
                            <ul class="nav nav-list text-uppercase">
                                <li>
                                    <a class="nav-link" title="Phiên bản" href="#section-version">Phiên bản</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Ngoại thất" href="#section-product-exterior">Ngoại
                                        thất</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Nội thất" href="#section-product-interior">Nội
                                        thất</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Công nghệ" href="#section-technology">Công nghệ</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Đặc quyền" href="#section-exclusive-rights">Đặc
                                        quyền</a>
                                </li>
                                <li>
                                    <a class="nav-link" title="Pin sạc" href="#section-charging-solution">Pin
                                        sạc</a>
                                </li>
                                <li class="d-none">
                                    <a class="nav-link" title="Pin sạc" href="#section-lead-common"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="section-hero" class="section-hero invert-color">
            <div class="hero-img dim" id="tl1-hero-img">
                <picture>
                    <source srcset="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw058b87b8/images/PDP/vf9/202406/hero-mb.webp" media="(max-width: 768px)">
                    <source srcset="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw357c1d3e/images/PDP/vf9/202406/hero.webp" media="(min-width: 769px)">
                    <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw357c1d3e/images/PDP/vf9/202406/hero.webp" alt="" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                </picture>
            </div>
            <div class="tag-line">
                <div class="container-main">
                    <div class="content">
                        <div class="logo-vf9 op-0" id="tl1-logo" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 0.2;">
                            <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw3377c850/images/PDP/vf9/202406/logo-vf9-tag-line.svg" alt="VF 9 Lựa chọn tận hưởng đẳng cấp">
                        </div>
                        <p class="heading op-0" id="tl1-heading" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                            <span>Lựa chọn tận hưởng</span><br>
                            <strong>Đẳng cấp</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="vehicle-specs op-0" id="tl1-specs" style="opacity: 1; position: absolute;">
                <div class="statics statics-pc">
                    <div class="item">
                        <p>
                            <span>Quãng đường di chuyển/lần sạc đầy</span><br>
                            <strong>626<small> km*</small></strong>
                        </p>
                    </div>
                    <div class="line">
                        <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw9f1666ff/images/PDP/vf9/202406/separate-line.webp" alt="">
                    </div>
                    <div class="item">
                        <p>
                            <span>Vận hành mạnh mẽ</span><br>
                            <strong>402<small> hp/</small>620<small> Nm</small></strong>
                        </p>
                    </div>
                    <div class="line">
                        <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw9f1666ff/images/PDP/vf9/202406/separate-line.webp" alt="">
                    </div>
                    <div class="item">
                        <p>
                            <span>Bảo hành xe 200.000 km hoặc</span><br>
                            <strong>10<small> năm</small></strong>
                        </p>
                    </div>
                </div>
                <div class="statics statics-sp">
                    <div class="swiper vf-swiper-collection swiper-fade swiper-initialized swiper-horizontal swiper-autoheight swiper-watch-progress swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-610b28354c15090cf" aria-live="off" style="transition-duration: 0ms; height: 67px;">
                            
                            
                            
                        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="transition-duration: 0ms; width: 468px; opacity: 0; transform: translate3d(0px, 0px, 0px);">
                                <div class="item">
                                    <p>
                                        <span>Quãng đường di chuyển/lần sạc đầy</span><br>
                                        <strong>626<small> km*</small></strong>
                                    </p>
                                </div>
                            </div><div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="transition-duration: 0ms; width: 468px; opacity: 0; transform: translate3d(-468px, 0px, 0px);">
                                <div class="item">
                                    <p>
                                        <span>Vận hành mạnh mẽ</span><br>
                                        <strong>402<small> hp/</small>620<small> Nm</small></strong>
                                    </p>
                                </div>
                            </div><div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="transition-duration: 0ms; width: 468px; opacity: 1; transform: translate3d(-936px, 0px, 0px);">
                                <div class="item">
                                    <p>
                                        <span>Bảo hành xe 200.000 km hoặc</span><br>
                                        <strong>10<small> năm</small></strong>
                                    </p>
                                </div>
                            </div></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
                <p class="disclaimer">
                    Lưu ý: Các thông tin sản phẩm có thể thay đổi mà không cần báo trước<br>
                    (*) Tiêu chuẩn WLTP, phiên bản Eco pin CATL
                </p>
            </div>
        </section>

        

    </div>
   
  </body>
  <script src="/src/public/js/VF9.js"></script>
</html>