<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/src/public/css/layout.css">
    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <title>Login</title>
</head>

    <body>
        <!--header-->
        <header class="fixed-header">
            <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#">Trang chủ</a></li>
                    <li class="menu-item"><a href="#">Sản phẩm</a></li>
                    <li class="menu-item"><a href="#">Liên hệ</a></li>
                </ul>

            </nav>
            <nav class="btn-nav">
                <a class ="btn-login ">Đăng Nhập</a>
                <a class ="btn-signup">Đăng Ký</a>
            </nav>
            
        </header>
    
        <!--footer và nội dung-->
        <div class="container">
            <div class="content">
                <p>Nội dung trang web ở đây...</p>
                <p>Cuộn xuống để kiểm tra header cố định.</p>
            </div>
        
            <footer>
                <div class="footer-container">
                    <div class="footer-left">
                        <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                        <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                        <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                        <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                    </div>
                    
                    <div class="footer-middle">
                        <h4>Hệ sinh thái</h4>
                        <ul>
                            <li><a href="#">Vinhomes</a></li>
                            <li><a href="#">Vinpearl</a></li>
                        </ul>
                    </div>
            
                    <div class="footer-right">
                        <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                        <p>📞 1900 23 23 89</p>
                        <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                        
                        <h4>SPEAK-UP HOTLINE</h4>
                        <p>📞 +84 24 4458 2193</p>
                        <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
            
                        <h4>Kết nối với VinFast</h4>
                        <div class="social-icons">
                            <a href="#">
                                <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            
                <div class="footer-bottom">
                    <p>© Copyright 2025 | VinFast. All rights reserved.</p>
                    <!--<img src="bo-cong-thuong.png" alt="Đã thông báo Bộ Công Thương">-->
                </div>
            </footer>
        </div>
        
    </body>
</html>