<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/MainPage.css">
    <link rel="stylesheet" href="/js/MainPage.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <title>Quản Lý Ô Tô VinFast</title>
</head>

    <body>

        <header class="fixed-header">
            <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/">Trang chủ</a></li>
                    <li class="menu-item"><a href="#">Sản phẩm</a></li>
                    <li class="menu-item"><a href="#">Liên hệ</a></li>
                </ul> 
            </nav>
            <nav class="btn-nav">
                <a class ="btn-login " href="/dangnhap">Đăng Nhập</a>
                <a class ="btn-signup" href="/dangky">Đăng Ký</a>
            </nav>
            
        </header>
    
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://static-cms-prod.vinfastauto.com/VFVN%20-%20No1-16x9.png" class="d-block w-100" alt="Quảng cáo 1">
                </div>
                <div class="carousel-item">
                    <img src="https://static-cms-prod.vinfastauto.com/banner-xmd-20250219.jpg" class="d-block w-100" alt="Quảng cáo 2">
                </div>
                <div class="carousel-item">
                    <img src="https://static-cms-prod.vinfastauto.com/vf3-20250225.webp" class="d-block w-100" alt="Quảng cáo 3">
                </div>
            </div>
            <!-- Nút điều hướng -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>

        <!--Hien xe otto-->
        <div class="car-carousel">
            <!-- SwiperJS Carousel -->
            <div class="swiper carSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://static-cms-prod.vinfastauto.com/vf3-yello.webp" alt="VF3"></div>
                    <div class="swiper-slide"><img src="https://vinfastauto.com/themes/porto/img/homepage-v2/car/vf-5.webp" alt="VF5"></div>
                    <div class="swiper-slide"><img src="https://static-cms-prod.vinfastauto.com/VF%206_10012025.webp" alt="VF6"></div>
                    <div class="swiper-slide"><img src="https://vinfastauto.com/themes/porto/img/homepage-v2/car/vf-7.webp" alt="VF7"></div>
                    <div class="swiper-slide"><img src="https://static-cms-prod.vinfastauto.com/VF8_08012025_Homepage.webp" alt="VF8"></div>
                    <div class="swiper-slide"><img src="https://vinfastauto.com/themes/porto/img/homepage-v2/car/vf-9.webp" alt="VF9"></div>
                </div>
            </div>
        
            <!-- Danh sách icon -->
            <div class="car-icons">
                <img src="/src/public/image/vf3.svg" alt="VF3" onclick="changeCarSlide(0); changeCar(0);">
                <img src="/src/public/image/vf5.svg" alt="VF5" onclick="changeCarSlide(1); changeCar(1);">
                <img src="/src/public/image/vf6.svg" alt="VF6" onclick="changeCarSlide(2); changeCar(2);">
                <img src="/src/public/image/vf7.svg" alt="VF7" onclick="changeCarSlide(3); changeCar(3);">
                <img src="/src/public/image/vf8.svg" alt="VF8" onclick="changeCarSlide(4); changeCar(4);">
                <img src="/src/public/image/vf9.svg" alt="VF9" onclick="changeCarSlide(5); changeCar(5);">

            </div>

            <div class="car-in4">
                <div class="car-info-container">
                    <div class="car-info-item">
                        <p>Dòng xe</p>
                        <h3 id="car-type">D-SUV</h3>
                    </div>
                    <div class="car-info-item">
                        <p>Số chỗ ngồi</p>
                        <h3 id="car-seats">5 chỗ</h3>
                    </div>
                    <div class="car-info-item">
                        <p>Quãng đường lên tới</p>
                        <h3 id="car-range">471 km</h3>
                    </div>
                    <div class="car-info-item">
                        <p>Giá từ</p>
                        <h3 id="car-price">970.000.000 VNĐ</h3>
                    </div>
                    
                </div>
                <div class="button-car-container">
                        <a class="car-button-deposit" href="#">Đặt Cọc</a>
                        <a class="car-button-details" href="#">Xem Chi Tiết</a>
                    </div>
            </div>        
        </div>
        
        
        <div class="container-content">
            <div class="banner-bh">
                <img class="bh-img" src="https://vinfastauto.com/themes/porto/img/homepage-v2/service-2.webp" alt="">
                <img class="bh-img" src="https://vinfastauto.com/themes/porto/css/homepage-v2.css?ssdzbu" alt="">
            </div>

        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                    <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                    <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                    <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                </div>
                
                <div class="footer-middle">
                    <h4>Hệ sinh thái</h4>
                    <ul>
                        <li><a href="#">Vinhomes</a></li>
                        <li><a href="#">Vinpearl</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>📞 1900 23 23 89</p>
                    <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                    
                    <h4>SPEAK-UP HOTLINE</h4>
                    <p>📞 +84 24 4458 2193</p>
                    <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
        
                    <h4>Kết nối với VinFast</h4>
                    <div class="social-icons">
                        <a href="#">
                            <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>© Copyright 2025 | VinFast. All rights reserved.</p>
                <!--<img src="bo-cong-thuong.png" alt="Đã thông báo Bộ Công Thương">-->
            </div>        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/MainPage.js"></script>
    
    </body>
</html>