<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/VF5.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <title>VF5</title>
</head>

<body>
    <div class="container">
        <!--header-->
        <header class="fixed-header">
            <div class="logo">
                <img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt="Logo">
            </div>
        
            <div class="menu-toggle">☰</div> <!-- Nút mở menu -->
        
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#">Trang chủ</a></li>
                    <li class="menu-item"><a href="/sanpham">Sản phẩm</a></li>
                    <li class="menu-item"><a href="/lienhe">Liên hệ</a></li>
                    <li class="menu-item mobile-only" style="margin-left: auto;"><a href="/dangnhap">Đăng nhập</a></li>
                    <li class="menu-item mobile-only"><a href="/dangky">Đăng ký</a></li>
                </ul>
            </nav>
        </header>

        <!-- Nội dung chính -->
        <div class="video-container">
            <video id="adVideo" autoplay loop muted playsinline>
                <source src="/video/VF5.mp4" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </div>


        <!-- Đặt cọc -->
         <div class="container_datcoc">
         <h4>Tùy chọn cho ngân sách của bạn.</h4>
         <div class="dat-coc">
            <h2>Giá bán VF5</h2> 
            <div class="price">
                <p>529.000.000</p>
                <p class="vnd">VNĐ</p>
            </div>
        </div>
        
         <button class="xemthemm">Đặt cọc 100.000.000 VNĐ</button>
        </div>


        <!-- QC1 -->
        <div class="content">
            <h4 style="margin-right: 5%;">VinFast VF 5 – Vận Hành Êm Ái, Linh Hoạt Mọi Hành Trình
            </h4>
            <p>
                VF 5 trang bị động cơ điện mạnh mẽ, tăng tốc mượt mà, không giật cục. Hệ thống treo tối ưu giúp xe giảm xóc tốt, di chuyển êm ái trên nhiều địa hình. Thiết kế nhỏ gọn và bán kính quay vòng nhỏ mang đến sự linh hoạt tối đa trong đô thị.

            </p>
            <img class="banner-vf3" src="/image/VF5-banner.jpg" alt="">

        </div>

        <!-- Carousel QC2 -->
       <!-- Carousel QC2 -->
        <div class="swiper3 mySwiper3">
            <div class="content3">
                <h4>VinFast VF 5 – Sắc Màu Cá Tính, Phong Cách Riêng</h4>
                <p>VinFast VF 5 là mẫu xe điện đô thị hiện đại với thiết kế năng động và bảng màu đa dạng, giúp bạn thể hiện cá tính riêng. Nhỏ gọn, linh hoạt và được trang bị công nghệ tiên tiến, VF 5 mang đến trải nghiệm lái tối ưu, phù hợp cho mọi hành trình.</p>
            </div>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="banner-vf33" src="/image/VF5-m1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="banner-vf33" src="/image/VF5-m2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="banner-vf33" src="/image/VF5-m3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="banner-vf33" src="/image/VF5-m4.jpg" alt="">
                </div>
            </div>

            
        </div>


        <!-- QC3 -->
        <div class="content">
            <h4 style="margin-top: 50px; margin-right: 10%;">VinFast VF 5 – Năng Động & Cá Tính Giữa Phố Đô Thị</h4>
            <p>VinFast VF 5 – mẫu xe điện đô thị với thiết kế trẻ trung, hiện đại, nổi bật trên đường phố. Với màu đỏ rực rỡ, VF 5 thu hút mọi ánh nhìn nhờ các đường nét sắc sảo, dải đèn LED đặc trưng và logo VinFast phía trước, thể hiện sự mạnh mẽ và phong cách cá nhân.
            </p>
            <img class="banner-vf3" src="/image/VF5-3.webp" alt="">

        </div>

         <!-- QC4 -->
         <div class="content">
            <h4 style="margin-top: 50px; margin-right: 10%;">Nội Thất VinFast VF 5 – Tiện Nghi & Thoải Mái</h4>
            <p>VinFast VF 5 sở hữu khoang lái rộng rãi với thiết kế tinh giản, tập trung vào trải nghiệm người dùng. Màn hình cảm ứng trung tâm sắc nét, hỗ trợ kết nối thông minh, giúp thao tác dễ dàng. Ghế ngồi êm ái, bố trí hợp lý tối ưu không gian cho cả người lái và hành khách.
            </p>
            <img class="banner-vf3" src="/image/VF5-4.jpg" alt="">

        </div>

       

        <div class="VF3-in4">
            <h4>Thông số kỹ thuật </h4>
            <div class="in4">
                <p class="in4-1">Động cơ</p>
                <p class="in4-2">1 mô-tơ điện </p>
            </div>
            <hr class="custom-hr">
            
            <!-- Dòng 2 -->
            <div class="in4">
                <p class="in4-1">Công suất tối đa (kW)</p>
                <p class="in4-2">100 kW </p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 3 -->
            <div class="in4">
                <p class="in4-1">Mô men xoắn cực đại (Nm)</p>
                <p class="in4-2">135</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 4 -->
            <div class="in4">
                <p class="in4-1">Tăng tốc</p>
                <p class="in4-2">12s (0-100 km/h)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 5 -->
            <div class="in4">
                <p class="in4-1">Quãng đường chạy một lần sạc đầy (km)</p>
                <p class="in4-2">300 </p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 6 -->
            <div class="in4">
                <p class="in4-1">Thời gian nạp pin nhanh nhất</p>
                <p class="in4-2">30 phút (10% - 70%)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 7 -->
            <div class="in4">
                <p class="in4-1">Dẫn động</p>
                <p class="in4-2">Cầu trước (FWD)</p>
            </div>
            <hr class="custom-hr">

            <a href="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dwf8f185d0/Document/VF3_Brochure_VN_T10.pdf" target="_blank" class="xemthemm" style="font-family: Arial, Helvetica, sans-serif;">XEM THÊM</a>
           <br>
           <img class="vf3-nguoc" src="/image/VF5-nguoc.png" alt="">
           


        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                    <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                    <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                    <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                </div>
                
                <div class="footer-middle">
                    <h4>Hệ sinh thái</h4>
                    <ul>
                        <li><a href="#">Vinhomes</a></li>
                        <li><a href="#">Vinpearl</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>📞 1900 23 23 89</p>
                    <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                    
                    <h4>SPEAK-UP HOTLINE</h4>
                    <p>📞 +84 24 4458 2193</p>
                    <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
        
                    <h4>Kết nối với VinFast</h4>
                    <div class="social-icons">
                        <a href="#">
                            <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>© Copyright 2025 | VinFast. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script>
        document.querySelector(".menu-toggle").addEventListener("click", function() {
            document.querySelector(".menu-nav").classList.toggle("active");
        });
        var swiper = new Swiper(".swiper3", {
    effect: "fade", // Hiệu ứng chuyển ảnh mượt
    loop: true, // Lặp lại vô hạn
    autoplay: {
        delay: 3000, // Tự động chuyển ảnh sau 3 giây
    },
});


    </script>
   

</body>

</html>