<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/VF6.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <title>VF6</title>
</head>

<body>
    <div class="container">
        <!--header-->
        <header class="fixed-header">
            <div class="logo">
                <img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt="Logo">
            </div>
        
            <div class="menu-toggle">☰</div> <!-- Nút mở menu -->
        
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/">Trang chủ</a></li>
                    <li class="menu-item"><a href="/sanpham">Sản phẩm</a></li>
                    <li class="menu-item"><a href="/lienhe">Liên hệ</a></li>
                    <li class="menu-item mobile-only" style="margin-left: auto;"><a href="/dangnhap">Đăng nhập</a></li>
                    <li class="menu-item mobile-only"><a href="/dangky">Đăng ký</a></li>
                </ul>
            </nav>
        </header>

        <!-- Nội dung chính -->
        <div class="video-container">
            <video id="adVideo" autoplay loop muted playsinline>
                <source src="/video/VF8 Video.webm" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </div>


        <!-- Đặt cọc -->
         <div class="container_datcoc">
         <h4>Tùy chọn cho ngân sách của bạn.</h4>
         <div class="dat-coc">
            <h2>Giá bán bản ECO</h2> 
            <div class="price">
                <p>689.000.000</p>
                <p class="vnd">VNĐ</p>
            </div>
        </div>
        
         <button class="xemthemm">Đặt cọc 150.000.000 VNĐ</button>
        </div>


        <!-- QC1 -->
        <div class="content">
            <h4>Lái Sang, Sống Nhàn
            </h4>
            <p>VinFast VF 6 – chiếc SUV điện đô thị sang trọng với thiết kế hiện đại, nội thất tiện nghi và công nghệ thông minh. Khả năng vận hành êm ái, không tiếng ồn cùng các tính năng hỗ trợ lái tiên tiến giúp bạn tận hưởng hành trình thoải mái, tiện lợi và đẳng cấp. </p>
            <img class="banner-vf3" src="/image/VF6-banner.webp" alt="">

        </div>

        <!-- QC2 -->
        <div class="content">
            <h4 style="margin-top: 50px; margin-right: 10%;">Cùng VF 6 ghi dấu từng khoảnh khắc, khởi đầu mọi hành trình.</h4>
            <p>Thiết kế hiện đại, công nghệ thông minh, vận hành mượt mà—VF 6 sẵn sàng cùng bạn chinh phục mọi cung đường.
            </p>
            <img class="banner-vf3" src="/image/VF6-2.jpg" alt="">

        </div>

        <!-- QC3 -->
        <div class="content">
            <h4 style="margin-top: 50px; margin-right: 10%;">VinFast VF 6 – Rộng Rãi, Tiện Nghi, Sẵn Sàng Cho Mọi Chuyến Đi</h4>
            <p>Sở hữu cốp rộng rãi, thiết kế thông minh và nội thất tiện nghi, VF 6 là lựa chọn lý tưởng cho cả gia đình trong những chuyến dã ngoại. Dễ dàng xếp gọn hành lý, mang theo mọi thứ bạn cần và tận hưởng hành trình thoải mái, thư thái. Với VF 6, mỗi chuyến picnic đều trở nên trọn vẹn hơn!
            </p>
            <img class="banner-vf3" src="/image/VF6-3.jpg" alt="">

        </div>

         <!-- QC4 -->
         <div class="content">
            <h4 style="margin-top: 50px; margin-right: 10%;">Thiết Kế VinFast VF 6 – Hiện Đại, Năng Động, Đậm Chất Riêng</h4>
            <p>VinFast VF 6 sở hữu phong cách SUV coupe thời thượng với đường nét mềm mại nhưng không kém phần mạnh mẽ. Phần đầu xe nổi bật với dải đèn LED định vị hình cánh chim, đặc trưng của VinFast, kết hợp cùng lưới tản nhiệt khép kín mang đến vẻ hiện đại và tinh tế.
            </p>
            <img class="banner-vf3" src="/image/VF6-5.jpg" alt="">

        </div>

        <!-- QC5 -->
        <div class="content">
            <h4 style="margin-top: 50px;">Nội thất VinFast VF 6 – Hiện đại, tiện nghi, đầy cảm hứng.</h4>
            <p>VF 6 sở hữu màn hình trung tâm 12.9 inch, trợ lý ảo thông minh, vô-lăng D-Cut thể thao và ghế da cao cấp. Không gian rộng rãi, thiết kế tối giản nhưng tinh tế, mang lại trải nghiệm lái thoải mái và đầy cảm xúc. 
            </p>
            <img class="banner-vf3" src="/image/VF6-4.jpg" alt="">

        </div>

        <div class="VF3-in4">
            <h4>Thông số kỹ thuật </h4>
            <div class="in4">
                <p class="in4-1">Động cơ</p>
                <p class="in4-2">1 mô-tơ điện </p>
            </div>
            <hr class="custom-hr">
            
            <!-- Dòng 2 -->
            <div class="in4">
                <p class="in4-1">Công suất tối đa (kW)</p>
                <p class="in4-2">130 kW (150 với plus)</p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 3 -->
            <div class="in4">
                <p class="in4-1">Mô men xoắn cực đại (Nm)</p>
                <p class="in4-2">250 (310 với plus)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 4 -->
            <div class="in4">
                <p class="in4-1">Tăng tốc</p>
                <p class="in4-2">7-8s (0-100 km/h)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 5 -->
            <div class="in4">
                <p class="in4-1">Quãng đường chạy một lần sạc đầy (km)</p>
                <p class="in4-2">399 (381 với plus)</p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 6 -->
            <div class="in4">
                <p class="in4-1">Thời gian nạp pin nhanh nhất</p>
                <p class="in4-2">30 phút (10% - 70%)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 7 -->
            <div class="in4">
                <p class="in4-1">Dẫn động</p>
                <p class="in4-2">Cầu trước (FWD)</p>
            </div>
            <hr class="custom-hr">

            <a href="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dwf8f185d0/Document/VF3_Brochure_VN_T10.pdf" target="_blank" class="xemthemm" style="font-family: Arial, Helvetica, sans-serif;">XEM THÊM</a>
           <br>
           <img class="vf3-nguoc" src="/image/VF6-nguoc.png" alt="">
           


        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                    <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                    <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                    <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                </div>
                
                <div class="footer-middle">
                    <h4>Hệ sinh thái</h4>
                    <ul>
                        <li><a href="#">Vinhomes</a></li>
                        <li><a href="#">Vinpearl</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>📞 1900 23 23 89</p>
                    <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                    
                    <h4>SPEAK-UP HOTLINE</h4>
                    <p>📞 +84 24 4458 2193</p>
                    <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
        
                    <h4>Kết nối với VinFast</h4>
                    <div class="social-icons">
                        <a href="#">
                            <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>© Copyright 2025 | VinFast. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script>
        document.querySelector(".menu-toggle").addEventListener("click", function() {
            document.querySelector(".menu-nav").classList.toggle("active");
        });
    </script>
</body>

</html>