<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/VF7.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <title>VF7</title>
</head>

<body>
    <div class="container">
        <!--header-->
        <header class="fixed-header">
            <div class="logo">
                <img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt="Logo">
            </div>
        
            <div class="menu-toggle">☰</div> <!-- Nút mở menu -->
        
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#">Trang chủ</a></li>
                    <li class="menu-item"><a href="/sanpham">Sản phẩm</a></li>
                    <li class="menu-item"><a href="/lienhe">Liên hệ</a></li>
                    <li class="menu-item mobile-only" style="margin-left: auto;"><a href="/dangnhap">Đăng nhập</a></li>
                    <li class="menu-item mobile-only"><a href="/dangky">Đăng ký</a></li>
                </ul>
            </nav>
        </header>

        <!-- Nội dung chính -->
        <div class="video-container">
            <video id="adVideo" autoplay loop muted playsinline>
                <source src="/src/public/video/VF 7 .mp4" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </div>


        <!-- Đặt cọc -->
         <div class="container_datcoc">
         <h4>Tùy chọn cho ngân sách của bạn.</h4>
         <div class="dat-coc">
            <h2>Giá bán bản ECO</h2> 
            <div class="price">
                <p>799.000.000</p>
                <p class="vnd">VNĐ</p>
            </div>
        </div>
        
         <button class="xemthemm">Đặt cọc 172.405.119 VNĐ</button>
        </div>


        <!-- QC1 -->
        <div class="content">
            <h4>VF 7 là một bước tiến đột phá trong thiết kế xe ô tô của VinFast.
            </h4>
            <p>Thiết kế ngoại thất thể hiện sự tự do, cá tính, mạnh mẽ và thể thao, thoả mãn mọi tâm hồn đam mê thẩm mỹ và tốc </p>
            <img class="banner-vf3" src="/src/public/image/vf7-1.webp" alt="">

        </div>

        <!-- QC2 -->
        <div class="content">
            <h4 style="margin-top: 50px;">Triết lý thiết kế “Vũ trụ phi đối xứng”.</h4>
            <p>Lấy cảm hứng từ vũ trụ và các vật thể bay trong không gian, VF 7 hiện thân cho sự tự do, công nghệ, thời đại, cá tính, mạnh mẽ và thể thao.
            </p>
            <img class="banner-vf3" src="/src/public/image/vf7-2.webp" alt="">

        </div>

        <!-- QC3 -->
        <div class="content">
            <h4 style="margin-top: 50px;">Đường nét tinh tế.</h4>
            <p>Những đường nét và hình khối được sử dụng nhịp nhàng và tinh tế, mang đến cho chủ nhân VF 7 không gian trải nghiệm đầy phóng khoáng và tràn đầy năng lượng; song vẫn không làm mất đi sự tối giản, tinh khiết và thời trang vốn có của mẫu xe đánh thức mọi đam mê.
            </p>
            <img class="banner-vf3" src="/src/public/image/vf7-3.webp" alt="">

        </div>

         <!-- QC4 -->
         <div class="content">
            <h4 style="margin-top: 50px;">VF 7 không chỉ là một chiếc xe điện tiên tiến</h4>
            <p>Thiết kế phần đầu xe thon gọn, dựa trên hình ảnh của chiếc phi thuyền không gian, với điểm nhấn là cụm đèn định vị cánh chim - chữ V đặc trưng kéo dài liên tưởng tới những pha bứt tốc mạnh mẽ vượt thời không và sự chuyển hướng linh hoạt trên không trung.
            </p>
            <img class="banner-vf3" src="/src/public/image/vf7-4.webp" alt="">

        </div>

        <!-- QC5 -->
        <div class="content">
            <h4 style="margin-top: 50px;">Buồng lái như điều khiển 1 chiếc phi thuyền</h4>
            <p>Tận hưởng hành trình trong không gian riêng tư và rộng rãi của chiếc xe, nơi mỗi chi tiết mang đậm dấu ấn cá nhân tạo nên cuộc phiêu lưu độc đáo của riêng bạn.
            </p>
            <img class="banner-vf3" src="/src/public/image/vf7-5.webp" alt="">

        </div>

        <div class="VF3-in4">
            <h4>Thông số kỹ thuật </h4>
            <div class="in4">
                <p class="in4-1">Động cơ</p>
                <p class="in4-2">01 Motor (02 Motor với plus)</p>
            </div>
            <hr class="custom-hr">
            
            <!-- Dòng 2 -->
            <div class="in4">
                <p class="in4-1">Công suất tối đa (kW)</p>
                <p class="in4-2">130 kW (260 với plus)</p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 3 -->
            <div class="in4">
                <p class="in4-1">Mô men xoắn cực đại (Nm)</p>
                <p class="in4-2">250 (500 với plus)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 4 -->
            <div class="in4">
                <p class="in4-1">Tăng tốc</p>
                <p class="in4-2">10s (0-100 km/h), (5,8s với plus)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 5 -->
            <div class="in4">
                <p class="in4-1">Quãng đường chạy một lần sạc đầy (km)</p>
                <p class="in4-2">430 (496 với plus)</p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 6 -->
            <div class="in4">
                <p class="in4-1">Thời gian nạp pin nhanh nhất</p>
                <p class="in4-2">30 phút (10% - 70%)</p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 7 -->
            <div class="in4">
                <p class="in4-1">Dẫn động</p>
                <p class="in4-2">RWD/Cầu trước (AWD với plus) </p>
            </div>
            <hr class="custom-hr">

            <a href="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dwf8f185d0/Document/VF3_Brochure_VN_T10.pdf" target="_blank" class="xemthemm" style="font-family: Arial, Helvetica, sans-serif;">XEM THÊM</a>
           <br>
           <img class="vf3-nguoc" src="/src/public/image/vf7-nguoc.webp" alt="">
           


        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                    <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                    <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                    <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                </div>
                
                <div class="footer-middle">
                    <h4>Hệ sinh thái</h4>
                    <ul>
                        <li><a href="#">Vinhomes</a></li>
                        <li><a href="#">Vinpearl</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>📞 1900 23 23 89</p>
                    <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                    
                    <h4>SPEAK-UP HOTLINE</h4>
                    <p>📞 +84 24 4458 2193</p>
                    <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
        
                    <h4>Kết nối với VinFast</h4>
                    <div class="social-icons">
                        <a href="#">
                            <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>© Copyright 2025 | VinFast. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script>
        document.querySelector(".menu-toggle").addEventListener("click", function() {
            document.querySelector(".menu-nav").classList.toggle("active");
        });
    </script>
</body>

</html>