/* Reset chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.inputForm {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    border: none;
    outline: none;
}

.togglePassword {
    cursor: pointer;
}

.button-submitt {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
