<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/src/public/css/admin.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    
    <!-- Sidebar -->
<div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
        <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/src/views/admin/cars.html"><i class="fas fa-car"></i> Quản lý xe</a></li>
        <li><a href="/src/views/admin/orders.html"><i class="fas fa-shopping-cart"></i> Quản lý đơn hàng</a></li>
        <li><a href="/src/views/users.html"><i class="fas fa-users"></i> Quản lý nhân viên</a></li>
        <li><a href="/src/views/users.html"><i class="fa-solid fa-user"></i> Quản lý khách hàng</a></li>
        <li><a href="/src/views/users.html"><i class="fa-solid fa-house"></i> Quản lý kho hàng</a></li>
        <li><a href="/src/views/users.html"><i class="fa-solid fa-credit-card"></i> Quản lý thanh toán và hóa đơn</a></li>
        <li><a href="/src/views/users.html"><i class="fa-solid fa-square-poll-vertical"></i> Báo cáo và thống kê</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Cài đặt</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
    </ul>
</div>

<!-- Content -->
<div class="main-content">
    <h1>Dashboard</h1>
    <div class="cards">
        <div class="card">
            <h3>100+</h3>
            <p>Xe đang bán</p>
        </div>
        <div class="card">
            <h3>250+</h3>
            <p>Đơn hàng</p>
        </div>
        <div class="card">
            <h3>1,200+</h3>
            <p>Người dùng</p>
        </div>
    </div>
</div>
</body>
<script src="/src/public/js/admin.js"></script>
</html>